.responsive-404-img {
    width: 50%;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .responsive-404-img {
        width: 70%;
    }
}

@media (max-width: 576px) {
    .responsive-404-img {
        width: 90%;
    }
}
