/* Paleta de colores */
:root {
    --color-background: #d7f3d686;
    --color-primary: #6b8375;
    --color-secondary: #92b29b;
    --color-tertiary: #c6e3c5;
    --color-quaternary: #b2c8a2;
    --color-quinary: #98b28f;
}

.text-lightgreen {
    color: lightgreen;
}

.text-darkgreen {
    color: rgb(10, 138, 10);
}

/* Estilos globales */
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background);
    color: var(--color-primary);
}

/* Botones */
.btn-primary {
    background-color: var(--color-quinary);
    border-color: var(--color-secondary);
}

.btn-primary:hover {
    background-color: var(--color-quaternary);
    border-color: var(--color-quaternary);
}

/* Extra */

.icon-center {
    font-size: 1.5em;
    vertical-align: middle;
}

a {
    color: green;
}

.btn-link {
    color: #18742d !important;
    text-decoration: none;
}

.btn-link:hover {
    color: #28a745 !important;
    text-decoration: underline;
}
