/* Banner */
.banner-img {
    height: 11rem;
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Card */
.card {
    /* background-color: var(--color-quinary); */
    color: var(--color-primary);
}

/* List Group */
.list-group-item a {
    color: var(--color-primary);
}

.list-group-item a:hover,
.list-group-item a:focus {
    color: var(--color-secondary);
}

/* Icono arrow crear publicación */
.icon-center {
    font-size: 1.5em;
    vertical-align: middle;
}

/* Zoom imágenes destacadas */
.hover-zoom {
    transition: transform 0.3s ease-in-out;
}

.hover-zoom:hover {
    transform: scale(1.1);
}

/* Otros estilos específicos */
.img-custom {
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
}

.img-dog-login {
    width: auto;
    height: 13rem;
    margin: 0 auto;
}

.card-body {
    padding: 1.5rem;
}

.card-footer {
    background-color: var(--color-tertiary);
    border-top: 1px solid var(--color-secondary);
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--color-quinary);
}

.accordion-button:not(.collapsed)::after {
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
}

.form-check-input:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.form-check-input:focus {
    box-shadow: none;
    border-color: var(--color-quinary);
}
