.navbar {
    background-color: var(--color-tertiary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: var(--color-primary);
    font-weight: bold;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: var(--color-secondary);
}

.navbar-toggler {
    border-color: var(--color-secondary);
}

.navbar-nav .nav-item .nav-link {
    color: var(--color-primary);
    position: relative;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: 4px;
    left: 0;
    background-color: var(--color-secondary);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover::before,
.navbar-nav .nav-item .nav-link:focus::before {
    visibility: visible;
    width: 100%;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
    color: var(--color-secondary);
    border-radius: 0.25rem;
}

.navbar-nav .nav-item .nav-link i {
    vertical-align: middle;
    margin-top: 0.25rem;
}

.dropdown-menu {
    background-color: var(--color-tertiary);
    border-color: var(--color-secondary);
}

.dropdown-item {
    color: var(--color-primary);
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--color-secondary);
    background-color: #e2fed7;
    border-radius: 0.25rem;
}

.logo-img {
    height: 2rem;
    margin-right: 0.5rem;
}

.unread-count {
    display: none;
}

